@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-font: #fff;
    --background-body: #0c1014;
    --background-header: #05080a;
    --background-pricing: #1f262c;
    --color-tomato: #ff6347;
}

body {
    padding: 0;
    background-color: var(--background-body);
    color: var(--color-font);
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-header);
    padding: 16px;
}

.header__logo {
    font-size: 36px;
    margin-left: 16px;
    /* letter-spacing: 2px; */
    text-transform: lowercase;
}

.header__nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.list__nav li a {
    color: var(--color-font);
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
}

a.header__nav--active {
    background-color: var(--color-tomato);
    /* pointer-events: none; */
    cursor: default;
}

.list__nav li a:hover {
    background-color: var(--color-tomato);
}

.main-title {
    font-size: 62px;
    margin: 46px 0;
    text-align: center;
    text-transform: uppercase;
}

.main-title span {
    color: var(--color-tomato);
}

.main-pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pricing-plan {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 20px;
    background-color: var(--background-pricing);
    transition: transform 0.4s ease;
}

.pricing-plan:hover {
    /* transform: translateY(-3px); */
    transform: scale(1.02); /* aumenta 5% */
}

.pricing-plan__title {
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    border-bottom: 3px solid var(--color-tomato);
}

.pricing-plan p {
    margin-top: 0;
}

.pricing-plan__price {
    font-size: 30px;
    font-weight: bold;
}

.pricing-plan__features {
    margin: 0 0 35px 0;
    padding-left: 16px;
    line-height: 1.8;
    font-size: 14px;
    flex-grow: 1;
}

.pricing-plan__features li::marker {
    color: var(--color-tomato);
}

.pricing-plan__cta {
    background-color: var(--color-tomato);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color-font);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;
    margin-block-start: auto;
}

.pricing-plan__cta:hover {
    border: 1px solid var(--color-tomato);
    /* background-color: #f53d1d; */
    background-color: transparent;
}
